/* global css */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.btn {
  background-color: #fd6e0a;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
}

/* header css */
header .header {
  background-color: #fff8f3;
  padding: 30px 0 0 150px;
  background-image: url("./../img/header_bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}
/* nav bar style */
header .header {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
}
header .header .developer-img{
    width: 100%;
}
header .header .developer-img h1 {
  color: rgba(24, 24, 24, 0.15);
  font-family: Open Sans;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 33px;
  transform: rotate(-90deg);
}
header .header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header nav h1 {
  font-size: 30px;
}
header .header  nav span {
  color: #fd6e0a;
}
header .header nav .nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header nav .nav-bar li {
  margin-right: 20px;
  list-style: none;
}
header .header nav .nav-bar li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
header .header nav .nav-bar li button {
  font-size: 20px;
}

/* banner style */
header .header .header-container .banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .header-container .banner-section .header-content {
  width: 585px;
}
header .header .header-container .banner-section .header-content h2 {
  font-size: 25px;
  font-weight: 500;
}
header .header .header-container .banner-section .header-content h1 {
  font-size: 42px;
  margin: 15px 0;
}
header .header .header-container .banner-section .header-content p {
  margin: 15px 0;
}
header
  .header
  .header-container
  .banner-section
  .header-content
  .button-section {
  /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}
header
  .header
  .header-container
  .banner-section
  .header-content
  .button-section
  button {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

header .header .header-container .banner-section .header-profile-image {
  width: 584px;
}
header .header .header-container .banner-section .header-profile-image img {
  margin-bottom: -5px;
}
